<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="full" class="ion-padding">
        <ion-icon color="primary" slot="end" name="close-circle-outline" (click)="dismiss()"></ion-icon>
        <ion-label>
          <ion-text color="primary">
            <h2>Check-in Peserta</h2>
          </ion-text>
        </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">
        <zxing-scanner [torch]="torchEnabled" [(device)]="currentDevice" (scanSuccess)="onCodeResult($event)"></zxing-scanner>
      </ion-col>
    </ion-row>
  </ion-grid>
    
  <ion-grid class="ion-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">
        <div class="item-centered">
          <img src="./assets/imgs/logo_fipex.png" style="width: 50%;"> 
          <ion-label>
            <p>Arahkan kamera ke QrCode yang tersedia.</p>
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>